.label {
    -fx-text-fill: black;
}

.button {
    -fx-padding: 10 20 10 20;
    -fx-end-margin: 200;
}

.field-background {
    -fx-text-fill: black;
    /*-fx-prompt-text-fill: gray;*/
    -fx-highlight-fill: gray;
    -fx-highlight-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-alignment: center;
}

.field-password {
    -fx-text-fill: #322f2f;
    /*-fx-prompt-text-fill: gray;*/
    -fx-highlight-fill: #f3c8c8;
    -fx-highlight-text-fill: #b01919;
    -fx-background-color: rgb(190, 229, 128);
    -fx-alignment: center;
}

.chart {
    -fx-clockwise: false;
    -fx-pie-label-visibel: true;
    -fx-label-line-length: 2;
    -fx-start-angle: 30;
    -fx-legend-side: left;
}

.chart-pie-label {
    -fx-font-size: 10px;
}

.chart-content {
    -fx-padding: 2;
}

.default-color0.chart-pie {
    -fx-pie-color: yellow;
}

.chart-legend {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
}



